<div *ngIf="idUsuario">
  <h1>Registrar viajes por colaborador</h1>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="colaborador">Colaboradores</label> <br>
      <select [(ngModel)]="colaborador" *ngIf='colaboradores' name="colaborador" id="colaborador">
        <option value="">-- Seleccione un colaborador--</option>
        <option *ngFor='let colaborador of colaboradores' value="{{colaborador.id}}">{{colaborador.descripcion}}
        </option>
      </select>
    </div>
    <br>
    <div>
      <label for="sucursal">Sucursales</label> <br>
      <select [(ngModel)]="sucursal" *ngIf='sucursales' name="sucursal" id="sucursal">
        <option value="">-- Seleccione una Sucursal--</option>
        <option *ngFor='let sucursal of sucursales' value="{{sucursal.id}}">{{sucursal.descripcion}}</option>
      </select>
    </div>
    <br>
    <div>
      <input type="number" [(ngModel)]="distancia" name="distancia" id="distancia" placeholder="Ingrese la distancia">
    </div>
    <br>
    <p *ngIf='exito'>
      Se ha ingresado correctamente
      <br>
    </p>
    <div>
      <input type="submit" value="Guardar">
    </div>
  </form>
</div>
<div *ngIf="!idUsuario">
  Tiene que iniciar sesion
</div>
