<div *ngIf="idUsuario" class="centrado fondocolor">
  <h1>Registrar viajes por colaborador</h1>
  <form (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <mat-label>Escoja un Colaborador</mat-label>
        <mat-select [(value)]='colaborador'>
          <mat-option *ngFor="let colaborador of colaboradores" [value]="colaborador.id">
            {{colaborador.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br>
    <div>
      <mat-form-field>
        <mat-label>Escoja una Sucursal</mat-label>
        <mat-select [(value)]='sucursal'>
          <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
            {{sucursal.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br>
    <div>
      <mat-form-field>
        <mat-label>Cantidad de Kilometros</mat-label>
        <input matInput type="number" [(ngModel)]="distancia" name="distancia" placeholder="Ingrese la distancia">
      </mat-form-field>
    </div>
    <br>
    <p *ngIf='mensaje' class="valicacion">
      Tiene que llenar todos los datos
    </p>
    <div>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </div>
  </form>
</div>
<div *ngIf="!idUsuario">
  Tiene que iniciar sesion
</div>
