<div class="centrado">
  <div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Fecha Inicio</mat-label>
        <input [(ngModel)]='fecha1' matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <br>
    <br>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Fecha Fin</mat-label>
        <input [(ngModel)]='fecha2' matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <br>
    <div>
      <mat-form-field>
        <mat-label>Escoja un Transportista</mat-label>
        <mat-select [(value)]='transportista.id'>
          <mat-option *ngFor="let transportista of transportistas" [value]="transportista.id">
            {{transportista.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br>
    <p *ngIf='mostrarValidacion' class="valicacion">
      Tiene que llenar todos los campos
      <br>
    </p>
    <button mat-raised-button color="primary" (click)='generarReporte()'>Generar reporte</button>
    <br><br>
  </div>
  <div *ngIf='dataSource'>
    <h3>Listado de colaboradores</h3>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- id Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
      </ng-container>
      <!-- Nombre Column -->
      <ng-container matColumnDef="NombreColaborador">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.NombreColaborador}} </td>
      </ng-container>
      <!-- Distajc9a -->
      <ng-container matColumnDef="Distancia">
        <th mat-header-cell *matHeaderCellDef> Distancia </th>
        <td mat-cell *matCellDef="let element"> {{element.Distancia}}km </td>
      </ng-container>
      <!-- Usuario crea -->
      <ng-container matColumnDef="NombreUsuarioViaje">
        <th mat-header-cell *matHeaderCellDef> Usuario Crea</th>
        <td mat-cell *matCellDef="let element"> {{element.NombreUsuarioViaje}} </td>
      </ng-container>
      <!-- Total a pagar -->
      <ng-container matColumnDef="TotalPorColaborador">
        <th mat-header-cell *matHeaderCellDef>Total a pagar</th>
        <td mat-cell *matCellDef="let element"> {{element.tu[0].TotalPorColaborador}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <br>
    <p>
      Cantidad: {{cantidad}}
    </p>
    <div>
      <p>Total a pagar a {{nombreTransportista}}: {{totalTransportista}}</p>
    </div>
  </div>
  <br>

</div>
