<!-- <form action="" >
  <div>
    <label for="usuario">Usuario:</label>
    <input type="text" name="usuario"  id="usuario">
  </div>
  <div>
    <label for="password">Contraseña:</label>
    <input type="password" name="password" id="password" >
  </div>


  <input type="submit" value="Login">
</form> -->

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-85 p-b-20">
      <form class="login100-form" (ngSubmit)="onSubmit()">
        <span class="login100-form-title p-b-70">
          Bienvenido
        </span>

        <div class="wrap-input100 m-b-35">
          <input [(ngModel)]="login.nombreUsuario" #user (blur)="onBlur(user)" class="input100" type="text"
            name="username">
          <span class="focus-input100" data-placeholder="Usuario"></span>
        </div>

        <div class="wrap-input100 m-b-50">
          <input [(ngModel)]="login.password" #pass (blur)="onBlur(pass)" class="input100" type="password" name="pass">
          <span class="focus-input100" data-placeholder="Contraseña"></span>
        </div>

        <p *ngIf='cargando' class="m-b-30 txt1">
          Cargando...
        </p>

        <p *ngIf='loginIncorrecto' class="m-b-30 txt1 error">
          {{mensajeError}}
        </p>


        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
