/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.centrado {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 10%;
  padding: auto;
}

.valicacion {
  color: rgb(253, 0, 0) !important;
}
